<div class="container">
        <mat-card class="lesson-card mat-elevation-z6">
            <mat-card-header>

            </mat-card-header>
                <img mat-card-image src="../assets/images/executive.png">
            <mat-card-content>
                    <h2>3. Whaling</h2>
                    <p>
                        <b>3.A.</b> Whaling attacks are even more targeted, taking aim at senior executives. 
                        Although the end goal of whaling is the same as any other kind of phishing attack, 
                        the technique tends to be a lot subtler.     
                    </p>
                    <p>
                        <b>3.B.</b> Tricks such as fake links and malicious URLs aren’t useful 
                        in this instance, as criminals are attempting to imitate senior staff. 
                        Scams involving bogus tax returns are an increasingly common variety of whaling. 
                    </p>
                    <p>
                        <b>3.C.</b> Tax forms are highly valued by criminals as they contain a host of useful information: 
                        names, addresses, Social Security numbers and bank account information. 
                    </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="../page-four">Next</button>
                <button mat-button routerLink="../page-two">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>