<div class="container">
    <mat-card class="home-card mat-elevation-z6">
        <mat-card-header>
        </mat-card-header>
            <img mat-card-image src="../assets/images/phishing_banner.jpg">
        <mat-card-content>
            <p>
            Welcome to the annual Phishing training module! In this lesson you will get a broad overview
            on Phishing. After all the covered materials, you will take a quiz. Only a grade of 80% is considered
            passing, fortunately you can take the test as many times as you need. You can also go back to the lesson
            and review the materials you missed. Good luck. 
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/intro-vid">Lesson</button>
            <button mat-button routerLink="/quiz-page">Quiz</button>
        </mat-card-actions>
    </mat-card>
</div>