<div class="container">
    <mat-card class="video-card mat-elevation-z6">

        <iframe width="650" height="315" src="https://www.youtube.com/embed/q0hu6xFLAeI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <mat-card-content fxLayoutAlign="center">
            <p>
                Final thoughts in review
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/content-vid">Back</button>
            <button mat-button routerLink="/quiz-page">Quiz</button>
        </mat-card-actions>
    </mat-card>
</div>
