<div style="height: 100vh;">
        <mat-toolbar color="primary" class="mat-elevation-z6">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span class="psuedo-button" mat-button routerLink="home-page">SETA Training: Phishing</span>
            <span class="spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
              <a mat-button routerLink="intro-vid">Lesson</a>
              <a mat-button routerLink="quiz-page">Quiz</a>
              <a mat-raised-button color="accent" routerLink="comments-page"> Comment </a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      
        <mat-sidenav-container fxFlexFill>
          <mat-sidenav #sidenav>
            <mat-nav-list>
              <a routerLink="intro-vid" mat-list-item>
                Lesson
              </a>
              <a routerLink="quiz-page" mat-list-item>
                Quiz</a>
              <a routerLink="comments-page" mat-list-item>
                Comment
              </a>
              <a (click)="sidenav.toggle()" mat-list-item>
                <mat-icon>close</mat-icon> Close
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
              <router-outlet></router-outlet>
        </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
        <span class="psuedo-button" mat-button routerLink="home-page">SETA Training: Phishing</span>
    
        <div class="spacer"></div>
    
        <a mat-button routerLink="lesson-page">Lesson</a>
        <a mat-button routerLink="quiz-page">Quiz</a>
        <a mat-raised-button color="accent" routerLink="comments-page"> Comments </a>
    </mat-toolbar> -->
    