<div class="container">
    <mat-card class="lesson-card mat-elevation-z6">
        <mat-card-header>
            <h1>What is Phishing?</h1>
        </mat-card-header>
            <img mat-card-image src="../assets/images/whatfishing.jpg">
        <mat-card-content>
            <p>
                Phishing is the fraudulent attempt to obtain sensitive information or data, 
                such as usernames, passwords and credit card details, by disguising oneself 
                as a trustworthy entity in an electronic communication
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="../lesson-page/page-one">Next</button>
            <button mat-button routerLink="/intro-vid">Back</button>
        </mat-card-actions>
    </mat-card>
</div>
