<div class="container">
        <mat-card class="lesson-card mat-elevation-z6">
            <mat-card-header>

            </mat-card-header>
                <img mat-card-image src="../assets/images/phonescam.jpg">
            <mat-card-content>
                    <h2>4. Smishing and Vishing</h2>
                    <p>
                        <b>4.A.</b> With both smishing and vishing, telephones replace emails as the method of communication. 
                        Smishing involves criminals sending text messages (the content of which is much the same 
                        as with email phishing), and vishing involves a telephone conversation.    
                    </p>
                    <p>
                        <b>4.B.</b> A common vishing scam involves a criminal posing as a fraud investigator 
                        (either from the card company or the bank) telling the victim that their account has been breached. 
                    </p>
                    <p>
                        <b>4.C.</b> The criminal will then ask the victim to provide payment card details to verify their 
                        identity or to transfer money into a ‘secure’ account – by which they mean the criminal’s account.
                    </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="../page-five">Next</button>
                <button mat-button routerLink="../page-three">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>