<div class="container">
    <mat-card class="lesson-card mat-elevation-z6">
        <mat-card-header>

        </mat-card-header>
            <img mat-card-image src="../assets/images/image1.jpg">
        <mat-card-content>
            <h2>1. Email Phishing</h2>
            <ul>
                <li>
                    Most phishing attacks are sent by email. The criminal will register a fake 
                    domain that mimics a genuine organization and sends thousands out thousands of generic requests. 
                </li>
                <li>
                    The fake domain often involves character substitution, like using ‘r’ and ‘n’ 
                    next to each other to create ‘rn’ instead of ‘m’. 
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="../page-two">Next</button>
            <button mat-button routerLink="/lesson-page">Back</button>
        </mat-card-actions>
    </mat-card>
</div>