<div class="container">
    <mat-card class="lesson-card mat-elevation-z6">
        <mat-card-header>

        </mat-card-header>
            <img mat-card-image src="../assets/images/socialmedia.png">
        <mat-card-content>
                <h2>5. Angler phishing</h2>
                <p>
                    <b>5.A.</b> A relatively new attack vector, social media offers a number of ways for criminals to trick people. 
                    Fake URLs; cloned websites, posts, and tweets; and instant messaging (which is essentially the same 
                    as smishing) can all be used to persuade people to divulge sensitive information or download malware. 
                </p>
                <p>
                    <b>5.B.</b> Alternatively, criminals can use the data that people willingly post on social media to create highly targeted attacks. 
                </p>
                <p>
                    <b>5.C.</b> In 2016, thousands of Facebook users received messages telling them they’d been mentioned in a post. 
                    The message had been initiated by criminals and unleashed a two-stage attack. The first stage downloaded 
                    a Trojan containing a malicious Chrome browser extension on to the user’s computer. 
                </p>
                <p>
                    <b>5.D.</b> When the user next logged in to Facebook using the compromised browser, the criminal was able to 
                    hijack the user’s account. They were able to change privacy settings, steal data and spread the infection 
                    through the victim’s Facebook friends.
                </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/content-vid">Next</button>
            <button mat-button routerLink="../page-four">Back</button>
        </mat-card-actions>
    </mat-card>
</div>
