<div class="container">
    <mat-card class="video-card mat-elevation-z6">

        <iframe width="650" height="315" src="https://www.youtube.com/embed/zGbfOKdKkO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <mat-card-content fxLayoutAlign="center">
            <p>
                Lets take a look at Phishing
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/summary-vid">Next</button>
            <button mat-button routerLink="/lesson-page/page-five">Back</button>
        </mat-card-actions>
    </mat-card>
</div>