<div class="container">
    <mat-card class="video-card mat-elevation-z6">

        <iframe width="650" height="315" src="https://www.youtube.com/embed/OA_pgXeKWas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <mat-card-content fxLayoutAlign="center">
            <p>
                Welcome to your annual SETA training module: Phishing
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/lesson-page">Next</button>
        </mat-card-actions>
    </mat-card>
</div>
